@import "tailwindcss";

body {
    font-family: 'Poppins', sans-serif;
}
.glow:hover {
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.7);
    transition: 0.3s;
}
.fade-up {
    opacity: 0;
    animation: fadeUp 1s ease forwards;
}
@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}